---
import Header from "@/components/Header";
---
<Header title="About Us"><div slot="option">popover content</div></Header>
<main>
  <section>
		<div>Hello There</div>
		<p>This is my initial version to make interactive games for kids</p>
    <p>Inspiration behind these games are to take kids away from smartphone and close to keyboard which will help in
			their future building also.</p>
  </section>
</main>