---
import Header from "@/components/Header";
import Layout from "@/layouts/Layout";
import Layout from "@/layouts/Layout";
---

<Layout title="About Us">
  <Header title="About Us">
    <div>popover content</div>
  </Header>
  <main>
    <div>
      <h1>Hello There</h1>
      <p>This is my initial version to make interactive games for kids</p>
      <p>
        Inspiration behind these games are to take kids away from smartphone and close to keyboard which will help in
        their future building also.
      </p>
    </div>
  </main>
</Layout>
