---

import '../assets/styles/global.css';
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome kidz">
	<header >
		<h1 class="text-gradient">Kid lab</h1>
	</header>
	<main>
		<Card href="home" title="home" body="body"/>
	</main>
	<footer> &copy;2024 | RecursiveZero private limited | All rights reserved.</footer>
</Layout>

<style>



</style>
