---
---
  <title>SVG Workshop</title>
  <style is:inline>
    body {
      height: 100vh;
      margin: 0;
    }

    .menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
    }

    .line {
      fill: none;
      stroke: black;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }

    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }

    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }

    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }

    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }

    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }

    article {
      display: initial;
      height: 100%;
    }

    section {
      height: auto;
      width: auto;
      border: 2px solid red;
      margin: 1rem;
      padding: 1rem;
    }
  </style>

<body>

  <h1>SVG Learning</h1>
  <article>
    <section title="added images in svg using JS">
      <svg id="svgCanvas" width="200" height="200" xmlns="http://www.w3.org/2000/svg" style="border: 1px solid black">
        <!-- SVG content goes here -->
      </svg>
    </section>
    <section title="path with lowercase and uppercase">
      <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
        <!-- Absolute commands (uppercase) -->
        <path d="M10 10 L50 10 L50 50 L10 50 Z" fill="lightblue" />
        <!-- Relative commands (lowercase) -->
        <path d="m10 50 l40 0 l0 40 l-40 0 z" fill="lightgreen" />
      </svg>

    </section>
    <section>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" height="24" width="24">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
      </svg>
    </section>
    <section title="hamburger">
      <svg xmlns="http://www.w3.org/svg" fill="current" viewBox="0 0 100 80" width="100" height="80">
        <path class="line line1"
          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
        <path class="line line2" d="M 20,50 H 80" />
        <path class="line line3"
          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
      </svg>
    </section>
    <section title="animate shape">
      <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" width="100" height="100"
        aria-label="animate shape which change round to square">
        <rect width="10" height="10">
          <animate attributeName="rx" values="0;5;0" dur="10s" repeatCount="indefinite" />
        </rect>
      </svg>
    </section>
    <section title="animation and motion: infinite symbol">
      <svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg" width="500" height="300"
        aria-label="infinite sign where a red circle keep moving around its node" stroke="khaki" stroke-width="3">
        <path fill="none" stroke="lightgrey" d="M20,50 C20,-50 180,150 180,50 C180-50 20,150 20,50 z" />
        <circle r="5" fill="red">
          <animateMotion dur="10s" repeatCount="indefinite"
            path="M20,50 C20,-50 180,150 180,50 C180-50 20,150 20,50 z" />
        </circle>
      </svg>
    </section>
    <section title="repeating shape reference">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
        <!-- Define a reusable shape -->
        <symbol id="circleSymbol">
          <circle cx="50" cy="50" r="40" fill="currentColor" />
        </symbol>
        <!-- Reuse the shape multiple times -->
        <use xlink:href="#circleSymbol" x="0" y="0" />
        <use xlink:href="#circleSymbol" x="100" y="0" />
        <use xlink:href="#circleSymbol" x="0" y="100" fill="red" />
      </svg>
    </section>

    <section title="repeating shape reference  using fillColor and inline style">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
        <!-- Define a reusable shape -->
        <symbol id="circleSymbol">
          <circle cx="50" cy="50" r="40" fill="currentColor" />
        </symbol>
        <!-- Reuse the shape multiple times -->
        <use xlink:href="#circleSymbol" x="0" y="0" />
        <use xlink:href="#circleSymbol" x="100" y="0" />
        <use xlink:href="#circleSymbol" x="0" y="100" style="color:red" />
      </svg>
    </section>

    <section title="repeating shape reference removing fill from symbol">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
        <!-- Define a reusable shape -->
        <symbol id="circleSymbol">
          <circle cx="50" cy="50" r="40" />
        </symbol>
        <!-- Reuse the shape multiple times -->
        <use xlink:href="#circleSymbol" x="0" y="0" color="grey" />
        <use xlink:href="#circleSymbol" x="100" y="0" />
        <use xlink:href="#circleSymbol" x="0" y="100" />
      </svg>
    </section>
    <section title="using fill-rule evenodd and nonzero">
      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <!-- Example with nonzero -->
        <path d="M10,10 h80 v80 h-80 Z M30,30 h40 v40 h-40 Z" fill="blue" fill-rule="nonzero" />
        <!-- Example with evenodd -->
        <path d="M110,10 h80 v80 h-80 Z M130,30 h40 v40 h-40 Z" fill="green" fill-rule="evenodd" />
      </svg>
    </section>
    <section title="using clip-rule and defs evenodd and nonzero">
      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <!-- Clipping path with nonzero -->
          <clipPath id="clipNonZero" clip-rule="nonzero">
            <path d="M10,10 h80 v80 h-80 Z M30,30 h40 v40 h-40 Z" />
          </clipPath>

          <!-- Clipping path with evenodd -->
          <clipPath id="clipEvenOdd" clip-rule="evenodd">
            <path d="M110,10 h80 v80 h-80 Z M130,30 h40 v40 h-40 Z" />
          </clipPath>
        </defs>
        <!-- Using the nonzero clipping path -->
        <rect width="100" height="100" fill="darkseagreen" clip-path="url(#clipNonZero)" />
        <!-- Using the evenodd clipping path -->
        <rect x="100" width="100" height="100" fill="mediumseagreen" clip-path="url(#clipEvenOdd)" />
      </svg>

    </section>
  </article>
  <script is:inline>
    // very useful when user can save the svg but not the picture within it
    // Get the SVG canvas
    const svgCanvas = document.getElementById('svgCanvas');
    const SVG_NS = 'http://www.w3.org/2000/svg';
    const XLink_NS = 'http://www.w3.org/1999/xlink';
    const image = document.createElementNS(SVG_NS, 'image');
    image.setAttributeNS(null, 'x', '50'); // X position of the image
    image.setAttributeNS(null, 'y', '50');
    image.setAttributeNS(null, 'width', '100');
    image.setAttributeNS(null, 'height', '100');
    image.setAttributeNS(XLink_NS, 'xlink:href', 'ice-cream.jpg');
    image.setAttributeNS(null, "preserveAspectRatio", "xMidYMid meet");
    svgCanvas.appendChild(image);
  </script>
</body>

</html>