---
import Alphabet from "@/components/Alphabet";
import Header from "@/components/Header";
import Layout from "@/layouts/Layout";
import { varnmala_english } from '@/utils/common';

const { list } = Astro.props;

---

<Layout title="varnmala" >
  <Header title="Varnmala">
    <div>popover content</div>
  </Header>
  <main>
    <Alphabet list={varnmala_english} title="Alphabet Page"/>
  </main>
</Layout>
