---
import Alphabet from "@/components/Alphabet";
import Header from "@/components/Header";
import Layout from "@/layouts/Layout";

const { list } = Astro.props;
const letterList =  [{letter: 'a', code: 1}, {letter: 'b', code: 2}]

import { varnmala_english } from '@/utils/common';
---

<Layout title="varnmala" >
  <Header title="Varnmala">
    <div>popover content</div>
  </Header>
  <main>
    <Alphabet list={varnmala_english} title="Alphabet Page"/>
  </main>
</Layout>
