
---

import '@/assets/styles/alphabet.css';
import Letter from '@/components/Letter';
import { LetterEntity } from '@/types';

type Props =  {
  title: string;
  list: LetterEntity[];
}

const { title, list } = Astro.props;

---

<div >
    <h1>{title}</h1>
    <div class="container__alphabet" >
      {list.map((item) =>  <Letter item={item}></Letter> )}
    </div>
</div>

