---
import "@/assets/styles/header.css";

const {title, hasBack = true} = Astro.props;
---

<header class="header">
  <div class="action">{hasBack && <a href="/" class="back">Back</a>}</div> 
  <div class="caption"><h1>{title}</h1></div>
  <div class="option">
    <slot name="option"/>
  </div>
</header>