.container__alphabet {
  display: grid;
  grid-gap: 4px;
  container-type: inline-size;
  container-name: layout;
}

.list {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(5, 1fr);
}

.letter {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-content: center;
  color: var(--text, grey);
  font-size: 2rem;
  border: 2px solid var(--bc);
  border-radius: 0.5rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 0.5rem;
  height: 12rem;

  & p {
    font-size: 4rem;
    margin: 0;
    padding: 0;

    & :last-child {
      font-size: 0.5rem;
    }
  }
}

@container layout (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .letter {
    background-color: white;
    color: black;
    font-size: max(1.5em, 1.23em + 2cqi);
  }
}