/*:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  color-scheme: light dark;
  --text: white;
  --bg: #13151a;
  --bc: #deaeaed1;
  --header-h: 6rem;
  --footer-h: 4rem;
  --warn: red;
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background-size: 100%;
  height: 100%;
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 16px;
}

*/

/* custom fonts */
@supports font-format(woff2) {
  @font-face {
    font-family: "sportrop";
    src: url("/fonts/sportrop-webfont.woff2") format("woff2"),
        url("/fonts/sportrop-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "atkinson";
    src: url("/fonts/atkinson-hyperlegible-regular-102-webfont.woff2") format("woff2"),
        url("/fonts/atkinson-hyperlegible-regular-102-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "MudraMohta";
    src: url("/fonts/Mudra_Mohta-Regular.woff2") format("woff2"),
        url("/fonts//Mudra_Mohta-Regular.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}

@font-face {
  font-family: "boisuStroke";
  src: url("/fonts/Boisu-Stroke.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ---- */

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: var(--header-h) 1fr var(--footer-h);
  grid-template-areas: "header" "main" "footer";
  grid-gap: 0.25rem;
}

header {
  grid-area: header;
  height: var(--header-h);
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

a {
  color: light-dark(#151414, white);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  font-family: Roboto;
}

main {
  grid-area: main;
  display: grid;
  padding: 1rem;
  color: var(--text, white);
  font-size: 1.25rem;
  line-height: 1.6;
  max-height: calc(100vh - var(--header-h) - var(--footer-h) - 4rem);
  grid-auto-flow: row;
  height: 100vh;
}

footer {
  grid-area: footer;
  padding-inline: 1rem;
  margin-block: 0.5rem;
  height: var(--footer-h);
  display: flex;
  align-items: center;
}
