.header--content {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-inline: 3rem;
}

.logo {
  color: firebrick;
}

.switch {
  background-color: black;
  height: 2rem;
  width: 2rem;
  border-radius: 050%;
  cursor: pointer;
}
