---
import BaseHead from "@/components/BaseHead";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";

type Props = SiteMeta;

const { title, ogImage = './alphabet.jpg' } = Astro.props;

const { description } = siteConfig
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={title} description={description} ogImage={ogImage} />
	</head>
	<body class="main__container">
		<slot />
	</body>
</html>

