---

import "@/assets/styles/nav.css";
---
<nav class="nav">
  <div class="nav--list">
    <a class="link list--item" href="/about"><span>About</span></a>
    <a class="link list--item" href="/varnmala"><span>Varnmala</span></a>
  </div>
</nav>