---

//import "@/assets/styles/nav.css";
import type{ Page } from "../models/page";
import Link from "./Link.astro";

interface Props {
  pages: Page[];
}

const { pages } = Astro.props;


---
<nav class="nav">
  <ul class="nav--list">
    {pages.filter(p=>p.isActive).map( (p) => (
    <li class="nav--list__item">
      <Link href={p.path} name={p.name} />
    </li>
    ))}
  </ul>
</nav>